/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Inter:wght@400;500;700&family=Kalam:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

@layer base {
  main {
    @apply relative z-10 mb-[350px] overflow-scroll;
  }
  svg {
    @apply fill-current;
  }
  label {
    @apply font-handwriting text-xl uppercase tracking-tighter;
  }

  input:placeholder-shown + label {
    @apply pointer-events-none absolute left-8 top-8 text-3xl transition-all duration-300;
  }

  input + label,
  input:focus + label {
    @apply absolute left-2 top-2 text-xl;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='url'],
  input[type='tel'],
  input[type='number'] {
    @apply h-[100px] w-full border border-black px-7 font-sans text-2xl;
  }

  input:invalid:not(input:placeholder-shown) + label {
    @apply text-white;
  }

  input:invalid:not(input:placeholder-shown) {
    @apply border-fireEngineRed bg-orangeRed;
  }

  input[type='checkbox'] {
    appearance: none;
    background-color: white;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 40px;
    height: 40px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type='checkbox']::before {
    content: '';
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background: url('/images/logo__checkmark.svg') no-repeat center;
    background-size: contain;
  }
  input[type='checkbox']:checked::before {
    transform: scale(1);
  }
  input[type='checkbox']:focus {
    outline: max(2px, 0.15em) solid white;
  }
}

@layer components {
  .dropdown-list li {
    @apply flex items-center gap-3;
  }

  .dropdown-list li a {
    @apply hover:text-orangeRed;
  }

  .top-nav li {
    @apply font-condensed text-[72px] uppercase leading-none tracking-wide;
  }

  .top-nav li a {
    @apply hover:text-orangeRed;
  }

  .bottom-nav ul {
    @apply flex flex-col gap-3;
  }

  .bottom-nav ul a {
    @apply hover:text-orangeRed;
  }
}
